/* 기본적으로 적용된 레이아웃 초기화 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 5rem;
  background-color: #eeeeee;

  /* 가운데 정렬 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* 가운데 정렬 */

  padding: 50px 0;
}

.wrapper {
  background-color: aliceblue;
  border: 0.2rem solid gray;
  border-radius: 1rem;
  padding: 40px 30px;
}

.wrapper__head {
  border-bottom: 1px dashed gray;
}

.wrapper__head__title {
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: peachpuff;
  padding: 0.5rem;
}

.wrapper__head__sub-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#point {
  color: tomato;
  text-decoration: underline;
  display: block;
  padding-top: 0.5rem;
}

.wrapper__body {
  padding-top: 1rem;
}

.wrapper__body__content {
  border: 0.1rem solid rgb(227, 225, 225);
  padding: 1rem;
}

.wrapper__body__content .diary-title {
  padding: 0.5rem;
  background-color: rgb(241, 241, 241);
  font-size: 1.3rem;
}

.wrapper__body__content .diary-content {
  padding-top: 1rem;
}

.wrapper__body__content .diary-date {
  padding-top: 1rem;
  text-align: right;
}

.kimchi {
  color: red;
  font-weight: 700;
}

.egg {
  color: rgb(224, 224, 102);
  font-weight: 700;
}

.highlight {
  font-size: 1.3rem;
  color: blue;
  font-style: italic;
  font-weight: 700;
}

.header {
  /* width: 100%; */
  border-bottom: 1px solid gray;
}

.header-inner {
  width: 900px;
  height: 100%;

  /* 가운데 정렬 */
  margin: 0 auto;
}

.logo {
  float: left;
  width: 100px;
  height: 80px;
  padding-top: 22px;
}

.logo h1 a {
  text-decoration: none;
  color: orange;
}

.logo h1 a:hover {
  color: rebeccapurple;
}

.menu {
  float: left;
  width: calc(100% - 200px);
  height: 80px;
  text-align: center;
}

.menu .menu__ul {
  /* 인라인 요소처럼 텍스트 제어가 가능하지만, 동시에 블락 요소처럼 가로 세로 제어가 가능하다. */
  display: inline-block;
}

.menu .menu__ul li {
  float: left;
  list-style: none;
  padding: 0 20px;
}

.menu .menu__ul li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 29px 20px;
}

/* 마우스 오버된 경우 적용할 스타일 지정 */
.menu .menu__ul li a:hover {
  color: orange;
}

.user {
  float: left;
  width: 100px;
  height: 80px;
  padding-top: 23px;
}

.clearfix {
  clear: both;
}
